# See https://github.com/esphome/wake-word-voice-assistants/blob/ceff4c72a403549f158b33e5a0b5a5e15c11e14f/m5stack-atom-echo/m5stack-atom-echo.yaml

i2s_audio:
  - id: i2s_audio_bus
    i2s_lrclk_pin: GPIO33
    i2s_bclk_pin: GPIO19

microphone:
  - platform: i2s_audio
    id: echo_microphone
    i2s_din_pin: GPIO23
    adc_type: external
    pdm: true
    sample_rate: 16000
    correct_dc_offset: true

speaker:
  - platform: i2s_audio
    id: echo_speaker
    i2s_dout_pin: GPIO22
    dac_type: external
    bits_per_sample: 16bit
    sample_rate: 16000
    channel: stereo  # The Echo has poor playback audio quality when using mon audio
    buffer_duration: 60ms

media_player:
  - platform: speaker
    name: None
    id: echo_media_player
    announcement_pipeline:
      speaker: echo_speaker
      format: WAV
    codec_support_enabled: false
    buffer_size: 6000
    volume_min: 0.4
#    files:
#      - id: timer_finished_wave_file
#        file: https://github.com/esphome/wake-word-voice-assistants/raw/main/sounds/timer_finished.wav
#    on_announcement:
#      - if:
#          condition:
#            - microphone.is_capturing:
#          then:
#            - script.execute: stop_wake_word
#      - light.turn_on:
#          id: led
#          blue: 100%
#          red: 0%
#          green: 0%
#          brightness: 100%
#          effect: none
#    on_idle:
#      - script.execute: start_wake_word
#      - script.execute: reset_led

<<: !include  ./m5stack-atom.yaml
